.svg-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.svg-container svg {
	width: 50vw;
}


@keyframes leaves {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}


/* fade in dot and leaves at the same time */
/*.cls-7 {
	animation: leaves 2s ease-in-out infinite;
}*/

@keyframes leaf {
	0% {opacity: 0;}
	33% {opacity: 1;}
	66% {opacity: 1;}
	100% {opacity: 0;}
}

.leaf {
	animation: leaf 4s linear infinite;
}

@keyframes dot {
	0% {opacity: 0;}
	33% {opacity: 0;}
	66% {opacity: 1;}
	100% {opacity: 0;}
}

.dot {
	animation: dot 4s linear infinite;
}